$navbar-item-hover-background-color: #3F51B5;

/** Table */
$table-sticky-header-height: 500px;
$table-head-background-color: #000000;
$table-color: #000000;
$table-body-background-color: #ffffff;
$table-row-hover-background-color: #CE93D8;
$table-striped-row-even-background-color: #DBF0EA;
$table-striped-row-even-hover-background-color: #CE93D8;
$table-row-active-color: #000000;
$table-row-active-background-color: #7CB7A7;
$table-cell-border: 1px solid #000000;

