// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";
@import "~buefy/src/scss/buefy";

#navbar-frontend {
    background-color: #0277BD;
}

div.navbar-dropdown {
    background-color: #0277BD;
    color: #FFFFFF;
}
